html {
    font-size: 62.5%;
}

:root {
    /* Primary */
    --soft-blue: #hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* neutral */
    --very-dark-blue_main-BG: hsl(217, 54%, 11%);
    --very-dark-blue_card-BG: hsl(216, 50%, 16%);
    --very-dark-blue_line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--very-dark-blue_main-BG);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 1.1rem; 
    text-align: center;
    color: var(--very-dark-blue_line);
}

footer a { 
    color: var(--very-dark-blue_line);
    text-decoration: underline;
}